{% extends 'base.html.twig' %}

{% block title %}Bord 2 Ligne Wiki{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/config_css/wiki.css') }}">
{% endblock %}

{% block body %}

<section class="poisson">
    <h1 style="text-align: center">Bonjour et bienvenu sur la partie wiki de Bord 2 Ligne</h1>

    {% for poisson in Poisson1 %}
    <p>
        <a href="{{ path('wiki_details1') }}" class="btn btn-primary">{{poisson.nom}}</a>
        {{ poisson.Nom }}
        
    </p>    
   
</section>
{% endfor %}
{% endblock %}
